.button {
	border: none;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	color: var(--text);
	border-radius: var(--border-radius);
	background-color: var(--button-bg);
	cursor: pointer;
}
.button:focus {
	outline: var(--focus);
}
.underlineFirstLetter::first-letter {
	text-decoration: underline;
}
.rounded {
	border-radius: 50%;	
}
.button:disabled {
	opacity: 0.4;
	pointer-events: none;
}
.button:hover {
	background-color: var(--blue-accent);
}
.button:active,
.button.pressed {
	background-color: var(--blue-accent);
}
@media (max-width: 603px) {
	.button:hover {
		background-color: var(--button-bg);
	}
	.button.pressed:hover {
		background-color: var(--blue-accent);
	}
	.underlineFirstLetter::first-letter {
		text-decoration: none;
	}
}