.button {
	border: none;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	color: var(--text);
	border-radius: var(--border-radius);
	background-color: var(--button-bg);
	cursor: pointer;
}
.button:focus {
	outline: var(--focus);
}
.rounded {
	border-radius: 50%;	
}
.button:disabled {
	opacity: 0.4;
	pointer-events: none;
}
.button:hover {
	background-color: var(--blue-dark);
}
.button:active,
.button.pressed {
	background-color: var(--blue);
}