.button {
	border: none;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	color: var(--text);
	border-radius: var(--border-radius);
	background-color: var(--button-bg);
}

.rounded {
	border-radius: 50%;	
}

.button:hover {
	background-color: var(--blue);
}
.button:active {
	background-color: var(--blue-dark);
}