.controls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-basis: 0;
  width: 100%;
}
.col1 {
	display: flex;
	width: 50%;
	flex-direction: column;
	gap: 0.5rem;
}
.topRow {
	display: flex;
	/* flex-wrap: wrap; */
	gap: 0.5rem;
}
.numbers {
	width: 100%;
	position: relative;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(3, 1fr);
}
.topRow button,
.numbers button {
	aspect-ratio: 4 / 3;
	padding: 0;
}
.topRow button {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	color: var(--control-button-text-color);
}
	.topRow button span {
		width: 100%;
		font-size: 1.25rem;
	}
.numbers button {
	font-size: 2.5rem;
	color: var(--control-button-text-color);
}

.col2 {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.gameActions {
	width: 100%;
	gap: 0.5rem;
	display: flex;
}
.switches {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.col2 button {
	padding: 0.5rem 1rem;
	width: max-content;
	flex: 1;
	color: var(--control-button-text-color);
}

@media (max-width: 600px) {
	.controls {
		flex-direction: column;
	}
	.col1 {
		width: 100%;
	}
	.topRow button span {
		font-size: 4vw;
	}
	.topRow button,
	.numbers button {
		aspect-ratio: 2 / 1;	
	}
	.col2 {
		width: 100%;
	}
}