.controls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}
.topRow {
	display: flex;
	gap: 0.5rem;
	align-items: flex-start;
}
.topRow button {
	display: flex;
	flex-direction: column;
	aspect-ratio: 4 / 3;
	gap: 0.25rem;
	}
.numbers {
	width: 100%;
	position: relative;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(3, 1fr);
}
	.numbers button {
		font-size: 2.25rem;
		aspect-ratio: 4 / 3;
		font-family: var(--number-font), Avenir, Helvetica, Arial, sans-serif;
	}


@media (max-width: 603px) {
	.controls {
		flex-direction: column-reverse;
		gap: 0.5rem;
	}
	.topRow button {
		aspect-ratio: unset;
	}
	.numbers {
		grid-template-columns: repeat(9, 1fr);
		gap: 0.25rem;
	}
		.numbers button {
			aspect-ratio: unset;
			padding: 0.25rem 0rem;
		}
}