.controls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}
.col1,
.col2 {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	gap: 0.5rem;
}
.topRow {
	display: flex;
	gap: 0.5rem;
}
	.topRow button {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
		.topRow button span {
			font-size: 1.25rem;
		}
.numbers {
	width: 100%;
	position: relative;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(3, 1fr);
}
	.numbers button {
		font-size: 2.25rem;
		aspect-ratio: 4 / 3;
		font-family: var(--number-font), Avenir, Helvetica, Arial, sans-serif;
	}
.gameActions {
	display: flex;
	gap: 0.5rem;
}
.difficultySelect {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.5rem;
	padding: 0.5rem;
	border: 1px solid var(--button-bg);
	border-radius: var(--border-radius);
	position: relative;
}
	.difficultySelect button {
		width: min-content;
		flex: 1;
		flex-basis: auto;
		white-space: nowrap;
	}
.switches {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

@media (max-width: 603px) {
	.controls {
		flex-direction: column;
	}
	.topRow button span {
		font-size: 1.25rem;
	}
	.numbers {
		grid-template-columns: repeat(9, 1fr);
		gap: 0.25rem;
	}
		.numbers button {
			font-size: 2rem;
			aspect-ratio: unset;
			padding: 0.25rem 0rem;
		}
	.difficultySelect button {
		min-width: 30%;
	}
}