.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	/* flex-basis: 0; */
}
.header h1 {
	margin-left: 0.25rem;
}
.logo,
.timer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex: 0;
}
.header button {
	aspect-ratio: 1 / 1;
	width: min-content;
}
.header button:disabled {
	background-color: lightgreen;
}