.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	/* flex-basis: 0; */
}
.logo,
.timer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex: 0;
}
.logo h1 {
	margin-left: 0.25rem;
}
.timer h2 {
	font-family: 'Questrial', Avenir, Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin-top: 0.125rem;
}
.header button {
	aspect-ratio: 1 / 1;
	width: min-content;
}
.timer button:disabled {
	background-color: var(--valid);
	opacity: 1;
}