.puzzleGrid {
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: var(--divider-tile-width);
  background-color: var(--divider-tile);
  position: relative;
  padding: calc(var(--divider-tile-width) / 2);
  border-width: var(--divider-section-width);
  border-color: var(--divider-section);
  border-style: solid;
}
.pauseShield {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  z-index: 6;
  padding: 1rem;
  color: var(--text);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .pauseShield span,
  .pauseShield button {
    text-align: center;
    width: max-content;
  }
  /* .pauseShield button {
    display: flex;
    flex-direction: column;
  } */
.divider {
  position: absolute;
  width: 33.333%;
  height: 33.333%;
  pointer-events: none;
  outline-width: calc(var(--divider-section-width) / 2);
  outline-color: var(--divider-section);
  outline-style: solid;
  z-index: 5;
}
.section_1 {
  top: 0;
  left: 0;
}
.section_2 {
  top: 0;
  left: 33.333%;
}
.section_3 {
  top: 0;
  left: 66.666%;
}
.section_4 {
  top: 33.33%;
  left: 0;
}
.section_5 {
  top: 33.33%;
  left: 33.333%;
}
.section_6 {
  top: 33.33%;
  left: 66.666%;
}
.section_7 {
  bottom: 0;
  left: 0;
}
.section_8 {
  bottom: 0;
  left: 33.333%;
}
.section_9 {
  bottom: 0;
  left: 66.666%;
}