.puzzleGrid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-width: var(--divider);
  border-color: var(--divider-color);
  border-style: solid;
}
.divider {
  position: absolute;
  width: 33.333%;
  height: 33.333%;
  pointer-events: none;
  outline-width: calc(var(--divider) / 2);
  outline-color: var(--divider-color);
  outline-style: solid;
  z-index: 5;
}
.section_1 {
  top: 0;
  left: 0;
}
.section_2 {
  top: 0;
  left: 33.333%;
}
.section_3 {
  top: 0;
  left: 66.666%;
}
.section_4 {
  top: 33.33%;
  left: 0;
}
.section_5 {
  top: 33.33%;
  left: 33.333%;
}
.section_6 {
  top: 33.33%;
  left: 66.666%;
}
.section_7 {
  bottom: 0;
  left: 0;
}
.section_8 {
  bottom: 0;
  left: 33.333%;
}
.section_9 {
  bottom: 0;
  left: 66.666%;
}