.wrapper {
	display: flex;
	width: calc(100%/9);
	aspect-ratio: 1 / 1;
	border: 1px solid black;
	padding: 0.5px;
	overflow: visible;
	z-index: 1;
}

.highlighted {
	background-color: lightblue;
}

.givenTile,
.userTile {
	max-width: 100%;
	max-height: 100%;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 2rem; 
	caret-color: transparent;
}

.givenTile {
	pointer-events: none;
	user-select: none;
	/* background-color: grey; */
}
.givenTile:active,
.givenTile:focus {
	border: none;
	outline: none;
}

.userTile:active,
.userTile:focus {
	border: none;
	background-color: lightskyblue;
	outline: none;
}