.wrapper {
	display: flex;
	/* width: calc(100%/9); */
	/* min-width: calc(calc(100%/9) - 1px); */
	/* max-width: calc(calc(100%/9) - 1px); */
	flex: 1;
	/* flex: 1 0 auto; */
	aspect-ratio: 1 / 1;
	/* border: var(--divider-tile-width) solid var(--divider-tile); */
	border: none;
	overflow: visible;
	position: relative;
}
.tile {
	/* max-width: 100%; */
	/* max-height: 100%; */
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 2.25rem;
	caret-color: transparent;
	user-select: none;
	z-index: 2;
	background-color: var(--tile-bg);
	cursor: pointer;
	font-family: var(--number-font), Avenir, Helvetica, Arial, sans-serif;
}
@media (max-width: 603px) {
	.tile {
		font-size: 1.45rem;
	}
}

.userTile {
	color: var(--tile-num-user)
}
.wrapper:has(.userTile) {
	color: var(--tile-num-user)
}

.givenTile {
	color: var(--tile-num-given);
}
.wrapper:has(.givenTile) {
	color: var(--tile-num-given);
}

.tile.active,
.tile:active,
.tile:focus {
	background-color: var(--blue-accent);
}
.wrapper:has(.tile.active),
.wrapper:has(.tile:active),
.wrapper:has(.tile:focus) {
	background-color: var(--blue-accent);
}

.highlighted {
	background-color: var(--blue)
}
.wrapper:has(.highlighted) {
	background-color: var(--blue)
}

.valid {
	background-color: var(--valid);	
}
.wrapper:has(.valid) {
	background-color: var(--valid);	
}

.error {
	background-color: var(--error) !important;
}
.wrapper:has(.error) {
	background-color: var(--error) !important;
}

.tile::selection {
	background-color: transparent;
}
.sameTileValue {
	border: var(--tile-inner-border-width) solid var(--blue-accent)
}
.sameTileValue.error {
	border: var(--tile-inner-border-width) solid var(--error-dark);
}
.valid:active,
.valid:focus {
	border: var(--tile-inner-border-width) solid var(--valid);
	z-index: 3;
}
.userTile.error {
	color: var(--tile-num-wrong);
}