.wrapper {
	display: flex;
	width: calc(100%/9);
	aspect-ratio: 1 / 1;
	border: 0.5px solid black;
	overflow: visible;
}
.tile {
	max-width: 100%;
	max-height: 100%;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* font-size: 2rem;  */
	font-size: 4vw;
	caret-color: transparent;
	user-select: none;
	z-index: 2;
	background-color: var(--tile-bg);
}
@media (max-width: 600px) {
	.tile {
		font-size: 6vw;
	}
}
.userTile {
	color: rgb(81, 81, 81)
}
.givenTile {
	color: black;
}
.tile.active,
.tile:active,
.tile:focus {
	background-color: lightskyblue;
}
.tile::selection {
	background-color: transparent;
}

.highlighted {
	background-color: lightblue;
}
.valid {
	background-color: lightgreen;
}
.valid:active,
.valid:focus {
	border: 8px solid lightgreen;
	z-index: 3;
}
.error {
	background-color: lightcoral !important;
}
.userTile.error {
	color: rgb(181, 0, 0);
}