.wrapper {
  background-color: var(--bg);
  /* background-color: blue; */
  min-height: 100vh;
  display: flex;
  align-items: stretch;
}
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  max-width: 603px;
  margin: 0 auto;
  background-color: var(--bg); 
  /* background-color: red; */
  color: var(--text);
}