*, html, body {
  --transition-speed: 0.25s;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;
}

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  /* --number-font: 'Questrial'; */
  /* --number-font: 'Ubuntu'; */
  --number-font: 'Nunito';
  /* --number-font: 'IBM Plex Mono'; */
  
  /* Dividers */
  --divider-tile-width: 1px;
  --divider-section-width: 2px;
  --tile-inner-border-width: 4px;
  --border-radius: 8px;
}

.frozen {
  max-height: 100vh !important; 
  overflow: hidden !important;
}

.light {
  --bg: rgb(220, 220, 220);
  --text: rgb(88, 88, 88);
  --tile-bg: rgb(220, 220, 220);
  --tile-num-given: rgb(40, 40, 40);
  --tile-num-user: rgb(100, 100, 100);
  --tile-num-wrong: rgb(181, 0, 0);
  --divider-tile: rgb(60, 60, 60);
  --divider-section: rgb(35, 35, 35);
  --button-bg: rgb(200,200,200);
  --control-button-text-color: rgb(128, 128, 128);
  --blue: rgb(183, 222, 235);
  --blue-accent: rgb(139, 198, 234);
  --valid: rgb(162, 218, 162);
  --error: rgb(240, 128, 128);
  --error-dark: rgb(214, 99, 99);
  --focus: 2px solid var(--blue-accent);
}

.dark {
  --bg: rgb(42, 42, 42);
  --text: rgb(150, 150, 150);
  --tile-bg: rgb(42, 42, 42);
  --tile-num-given: rgb(190, 190, 190);
  --tile-num-user: rgb(140, 140, 140);
  --tile-num-wrong: rgb(206, 65, 65);
  --divider-tile: rgb(25, 25, 25);
  --divider-section: rgb(15, 15, 15);
  --button-bg: rgb(32, 32, 32);
  --control-button-text-color: rgb(128, 128, 128);
  --blue: rgb(44, 59, 64);
  --blue-accent: rgb(50, 98, 128);
  --valid: rgb(33, 64, 33);
  --error: rgb(94, 46, 46);
  --error-dark: rgb(58, 24, 24);
  --focus: 2px solid var(--blue-accent);
}
