*, html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after { box-sizing: inherit; }
:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

.light {
  --border-radius: 8px;
  --divider: 2px;
  --divider-color: black;
  --bg: white;
  --tile-bg: white;
  --text: rgb(88, 88, 88);
  --button-bg: rgb(239,239,239);
  --control-button-text-color: grey;
  --blue: rgb(173, 216, 230);
  --blue-dark: rgb(135, 206, 250);
  --valid: rgb(144, 238, 144);
  --error: rgb(240, 128, 128);
  --error-dark: rgb(214, 99, 99);

  /* Tiles */
  --tile-num-given: black;
  --tile-num-user: rgb(81, 81, 81);
  --tile-num-wrong: rgb(181, 0, 0);
}

